<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hello World!</title>
</head>
<body>

<form action="#" method="post" th:action="@{/users}" th:inline="javascript">
    <div><label> User Name : <input th:name="username" type="text"/> </label></div>
    <div><label> Password: <input th:name="password" type="password"/> </label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>